<div id="comment-<%= comment.id %>">

    <%= display_avatar(comment.user) %><strong><%= link_to comment.user.name, user_path(comment.user) %>: </strong><%= comment.comment_html %>
    <div class="pull-right">
      <% if belongs_to_user?(comment) %>
        <%= link_to comment_path(comment), method: :delete, class: 'btn btn-danger btn-sm', remote: true do %>
          <% fa_icon 'trash' %>
        <% end %>
      <% end %>
    </div>

  <br>
  <hr>
</div>