<div class="info">

  <h3><strong><%= post.user.name %></strong>
  <span class="action">created a <%= link_to 'post', post %></span>
</div></h3>
<div class="content">
  <span class="text"><%= post.content %></span>
  <% if post.attachment.present? %>
    <div class="attachment">
      <%= image_tag post.attachment, size: "10x10" %>
    </div>
  <% end %>
  <div class="points">
    <span class="like-count"><%= pluralize(post.get_likes.size, 'like') %></span>
    <span class="comments-count"><%= pluralize(post.comments.size, 'comment') %></span>
    <div class="pull-right">
      <% if belongs_to_user?(post) %>
        <%= link_to edit_post_path(post), class: 'btn btn-primary btn-sm' do %>
          <% fa_icon 'pencil' %>
        <% end %>
        <%= link_to post_path(post), method: :delete, class:'btn btn-danger btn-sm' do %>
          <% fa_icon 'trash' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
 <hr>
<%= render 'shared/actions', resource: post %>
