
<div id="post-<%= @post.id %>" >


<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

 <h4>Comments</h4>
  <hr>
<%= render 'comments/form', commentable: @post %>
<div class="comments">
        <%= render(@comments) || render('shared/no_resources', resources: 'Comments') %>
</div>
</div>

